# IDE
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject
.settings/
.cursorrules
.editorconfig

# Project specific
logs/
output/
frontend/dist/
frontend/node_modules/
backend/.env.production
backend/venv/
backend/.env
__pycache__/
*.py[cod]
*$py.class
.Python
*.so
.pytest_cache/
.coverage
htmlcov/

# Cache
cache/
